@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

body h1 {
  font-size: 32px;
}

body h2 {
  font-size: 24px;
}

body h3 {
  font-size: 18.72px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky !important;
  top: 0;
  background-color: white;
  z-index: 10;
}

.navbar-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-right: 30px;
  padding-bottom: 1%;
}

.navbar-logo img {
  width: 170px;
}

.navbar-links>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none !important;
}

.navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  color: rgb(12, 114, 113);
}

.navbar-links li>a {
  color: rgb(12, 114, 113);
}

.navbar-links li>a:hover {
  color: red;
}

/* .navbar-links .link-items{
  display: inline-block;
  padding: 20px 10px;
} */
.toggle-button-menu {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
  color: #0c7271;

}

#loginbtn {
  background-color: #0c7271;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  padding: 7px 15px;
}

#loginbtn:hover {
  color: red;
}



#welcome {
  height: 94vh;
  width: 99vw;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#welcome img {
  min-width: 100%;
  max-height: 100%;
  object-fit: fill;
  display: block;
}

#welcome p {
  position: absolute;
  color: white;
  width: 52%;
  top: 10%;
  left: 25%;
  text-size-adjust: none;
}


/*--------------Services------------- */
#services {
  height: 100vh;
  background-color: rgb(12, 114, 113);
  color: white;
  
}
.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}


.services-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 210px;
}

.service-details {
  display: grid;
  grid-template-columns: 80px auto;
  row-gap: 40px;
}

.service-details ul {
  padding-left: 15px;
}

.service-details img {
  width: 38px;
  padding-top: 5px;
}

.services-header {
  padding-bottom: 30px;
  padding-left: 35%;
}


/* services swiperjs */

.swiper {
  width: 580px;
  height: 600px;
  text-align: center;
  margin-top: 10%;
}



.services-swiper-div-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.swiper-pagination {
  text-align: center;
}

.services-swiper-div-center .swiper-button-prev,
.services-swiper-div-center .swiper-button-next {
  color: white;
}

.services-swiper-div-center .swiper-pagination>.swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
}

.services-swiper-div-center .swiper-pagination>.swiper-pagination-bullet-active {
  background-color: white;
}

.service-details i {
  padding-top: 5px;
}

.services-header {
  margin-bottom: 30px;
}

/* .testvid{
  position: relative;
}
.testvid img {
  position: relative;
}
.testvid video {
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
  width: 230px;
} */
.frame-ad-container {
  position: relative;
  width: 70%;
  margin: auto;
  transform: translateX(7px);

}

.frame-ad-container img:nth-child(1) {
  position: relative;
  z-index: 5;
  transform: translateX(-4.5%) translateY(15%);
  width: 213px;
  height: 420px;
}

.frame-ad-container img:nth-child(2) {
  position: absolute;
  left: 97px;
  top: 70px;
  border-radius: 25px;
  width: 194px;
  height: 405px;
}


/* reach----------------------- */
/* Our Reach */
#our-reach {
  height: 94vh;
  background-color: rgb(91, 145, 121);

}

.our-reach-header {
  color: white;
  padding: 40px 0 0 60px;
}

.reach-titile-top {
  position: absolute;
  text-align: center;
  color: white;
  top: 56px;
  left: 635px;
}

.reach-titile-bottom {
  position: absolute;
  text-align: center;
  color: white;
  top: 464px;
  left: 633px;
}

.reach-container {
  display: flex;
  height: auto;
  width: 80vw;
  transform: translateX(6%);
  height: 80vh;
}

.reach-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid white;
  left: 270px;
  top: 153px;
  position: relative;


}

.reach-circle-logo {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 149px;
  left: -105px;
  position: relative;
}

.reach-circle-logo img {
  max-width: 85%;
}


.reach-circle2 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
  top: 145px;
  left: 457px;
}

.reach-circle-left-img {
  width: 90%;
  object-fit: cover;
  padding-top: 90px;
  padding-left: 30px;
  transform: scale(1.25);
  filter: brightness(300%);
}

.reach-circle-right-img {

  width: 61%;
  object-fit: cover;
  transform: translateY(37px) translateX(60px);
  filter: brightness(150%);

}

.reach-circle a {
  height: 40px;
  width: 40px;
  background-color: rgb(18, 57, 89);
  border-radius: 50%;
  position: absolute;
  color: #f2f2f2;
  text-align: center;
}

.reach-right-points a {
  height: 40px;
  width: 40px;
  background-color: rgb(18, 57, 89);
  border-radius: 50%;
  position: absolute;
  color: #f2f2f2;
  text-align: center;
  display: inline;
}

.reach-circle a:hover {
  color: black;
  background-color: white;
}

.reach-logos img {
  width: 65%;
  margin-top: 17%;
}

.reach-right-points img {
  margin-top: 10%;
  width: 65%;
}

.reach-right-points p {
  display: inline-block;
  color: white;
  margin-left: 30px;
  width: 130px;
  transform: translateY(-35px);
}

/* @keyframes glowing {
  0% {
    background-color: rgb(18, 57, 89);
    box-shadow: 0 0 3px rgb(18, 57, 89);
  }

  50% {
    background-color: #413682;
    box-shadow: 0 0 20px #413682;
  }

  100% {
    background-color: rgb(18, 57, 89);
    box-shadow: 0 0 3px rgb(18, 57, 89);
  }
} */


.reach-logo-1 {
  left: -19px;
  top: 135px;
}

.reach-logo-2 {
  left: 2px;
  top: 69px;
}

.reach-logo-3 {
  left: 47px;
  top: 13px;
}

.reach-logo-4 {
  left: 114px;
  top: -17px;
}

.reach-logo-5 {
  left: 188px;
  top: -16px;
}

.reach-logo-6 {
  left: -13px;
  top: 206px;
}

.reach-logo-7 {
  left: 26px;
  top: 271px;
}

.reach-logo-8 {
  left: 90px;
  top: 314px;
}

.reach-logo-9 {
  left: 172px;
  top: 325px;
}

.reach-logo-10 {
  left: 246px;
  top: 300px;
}

/* reach right circle points-------------- */
.reach-right-point-1 {
  top: -3px;
  right: 74px;
}

.reach-right-point-2 {
  top: 86px;
  right: -4px;
}


/* Contact-us */
#contact-us {
  height: 94vh;
  background-color: #9edcc7;
}

.contact-us-header {
  padding: 50px 0 0 50px;
}

.contact-us-container {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.contact-us-div {
  width: 30vw;
  height: 450px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

}
.contact-us-container img {
  width: 32vw;
  height: 450px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  filter: brightness(90%);
}

.contact-us-container img:hover {
  transform: scale(1.1);
  filter: brightness(100%);

}

.contact-us-div h3 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #f2f2f2;
  font-weight: 400;

}

.contact-us-div p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f2f2f2;
}


.tippy-box[data-theme~='light'] {
  background-color: white;
  color: black;
}

.tippy-box[data-theme~='light'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: white;
}

@media screen and (min-width: 993px) {

  .dropdown .dropdown-menu.show {
    display: none !important;
  }

  .dropdown:hover .dropdown-menu {
    display: block !important;
  }

  .dropdown:focus .dropdown-menu {
    display: block !important;
  }
  .dropdown-menu{
    width: auto !important;
  }
}
@media only screen and (max-width: 1400px) {
  
  .our-reach-header {
  padding: 10px 0 0 60px;
font-size: 26px;
  }
  .reach-container {
    transform: scale(.8) translateX(-2%) translateY(-10%);
  }
  .services-container{
    transform: scale(.9);
  }
  .contact-us-div {
    width: 30vw;
    height: 380px;
  
  }
}

@media only screen and (max-width: 600px) {
  .toggle-button-menu {
    display: flex;
    color: rgb(12, 114, 113) !important;
    margin-top: 5px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-end;
    height: auto;
  }

  .navbar-links {
    display: none;
    order: 2;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-logo {
    order: 1;
    transform: translateX(60%);
  }

  /* welcome--------------------------------------- */
  #welcome {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  #welcome img {
    width: auto;
    height: auto;
    object-fit: fill;
  }

  #welcome p {
    width: 90%;
    top: 8%;
    left: 5%;
    font-size: 0.8rem;
  }

  /* services------------------------------------ */
  #services {
    height: auto;
  }
  .services-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .services-left-content {
    padding-left: 20px;
    padding-bottom: 80px;
  }

  .service-details {
    grid-template-columns: 70px 75vw;
  }

  .services-header {
    padding-top: 50px;
    padding-left: 27%;
  }

  .swiper {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    height: 550px;
  }

  /* .testvid img {
    position: relative;
    width: 400px;
  }
  .testvid video {
    transform:translateX(-50%) translateY(-9%);
    width: 180px;
  } */
  .frame-ad-container {
    transform: translateX(-5px);
  
  }

  .frame-ad-container img:nth-child(1) {
    position: relative;
    width: 213px;
    height: 420px;
    z-index: 5;
    left: 13px;
  }

  .frame-ad-container img:nth-child(2) {
    position: absolute;
    width: 194px;
    height: 405px;
    left: 43px;
  }

  /* our reach-------------------------- */
  #our-reach {
    height: 850px;
  }
  .our-reach-header {
    padding: 10px 0 0 60px;
  }

  .reach-container {
    display: flex;
    flex-direction: column;
    transform: scale(.75) translateY(-10%);
    height: fit-content;
  }

  .reach-circle {
    transform: rotate(84deg);
    left: -7%;
    top: 0px;
    position: relative;
    order: 1;
  }

  .reach-circle-left-img {
    transform-origin: center;
    transform: rotate(274deg) translateX(-20%) translateY(-15%) scale(1.2);
  }

  .reach-circle a {
    transform: rotate(276deg);
  }

  .reach-circle-logo {
    width: 230px;
    height: 230px;
    top: -60px;
    left: 102px;
    position: relative;
    order: 2;
    z-index: -1;
  }

  .reach-circle2 {
    top: -108px;
    left: 30%;
    order: 3;
  }

  .reach-titile-top {
    display: none;
  }

  .reach-titile-bottom {
    display: none;

  }
  .reach-right-point-1{
    top: 314px;
    right: 218px;
  }
  .reach-right-point-2{
    top: 315px;
    right: 89px;
  }
  .reach-right-points p {
    display: inline-block;
    color: white;
    margin-left: 30px;
    width: 130px;
    transform: translateY(10px) translateX(-60%);
  }

  /* contact us------------------------------------ */
  #contact-us {
    height: auto;
  }

  .contact-us-header {
    padding-left: 0;
    padding-top: 40px;
  }

  .contact-us-container {
    height: auto;
    flex-direction: column;
  }

  .contact-us-div {
    width: 95vw;
    height: 400px;
    margin-bottom: 35px;
  }

  .contact-us-container img {
    width: 95vw;
    height: 400px;
    object-fit: cover;
  }

  .contact-us-header {
    text-align: center;
    padding: 20px 0;
  }

  .contact-us-div p {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #f2f2f2;
  }
}


 