@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding-top: 60px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  z-index: 10;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.navbar-logo img {
  width: 170px;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 180px;
}

.navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  color: rgb(12, 114, 113);
}
.navbar-links li>a{
  color: rgb(12, 114, 113);
}

.navbar-links li>a:hover {
  color: red;
}

.nav-menu {
  display: none;
}

@media only screen and (max-width: 940px) {
  .navbar-links {
    display: none;
  }

  .nav-menu {
    display: block;
  }
}

/* For swipperjs welcome  */
/* .swiper {
  width: 98.9vw;
  height: 92vh;
}

.welcome-slider-img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  position: relative;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: white;
}

.swiper .swiper-pagination {
  color: white;
}


.swiper-slide {
  position: relative;
} */

/* .content-container-img1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
} */
/* .left-content-img1 {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 45%;
  left: 5%;
  width: 40%;
}

.right-content-img1 {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 45%;
  right: 4%;
  width: 37%;

}

.button-img1 {
  position: absolute;
  font-size: 15px;
  top: 55%;
  right: 18%;
  width: 15%;
  border-radius: 12px;
  background-color: rgb(23, 23, 78);
  padding: 12px;
  color: white;
  cursor: pointer;
}

.button-img1:hover,
.button-img2:hover {
  background-color: transparent;
  border: 2px solid rgb(23, 23, 78);
}

.left-content-img2 {
  position: absolute;
  color: white;
  font-size: 30px;
  top: 45%;
  left: 5%;
  width: 40%;
}

.right-content-img2 {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 45%;
  right: 6%;
  width: 37%;

}

.button-img2 {
  position: absolute;
  font-size: 15px;
  top: 69%;
  right: 17%;
  width: 15%;
  border-radius: 12px;
  background-color: rgb(23, 23, 78);
  padding: 12px;
  color: white;
  cursor: pointer;
} */
#welcome {
  height: 92vh;
  width: 99vw;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#welcome img {
  min-width: 100%;
  max-height: 100%;
  object-fit: fill;
  display: block;
}
#welcome p{
  position: absolute;
  color: white;
  width: 50%;
  top: 20%;
  left: 25%;
  text-size-adjust:none;
}

#people {
  height: 90vh;
}

/*--------------Services------------- */
#services {
  height: 92vh;
  background-color: rgb(65, 54, 130);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}

.services-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 220px;
}

.service-details {
  display: grid;
  grid-template-columns: 70px auto;
  row-gap: 40px;
}

.service-details i {
  padding-top: 5px;
}

.services-header {
  padding-bottom: 30px;
  padding-left: 35%;
}

/* services swiperjs */
.swiper2 .swiper-button-prev2,
.swiper2 .swiper-button-next2 {
  color: white;
}

.swiper2 {
  width: 500px;
  height: 500px;
  overflow: hidden;
  text-align: center;
  margin-top: 80px;
}

.services-swiper-div-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.swiper-pagination2 {
  text-align: center;
}

.services-right-content img {
  width: 17vw;
  height: 95%;
}






/* Contact-us */
#contact-us {
  height: 92vh;
  background-color: rgb(247, 236, 216);
}

.contact-us-header {
  padding-left: 50px;
  padding-top: 40px;
}

.contact-us-container {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.contact-us-div {
  width: 30vw;
  height: 450px;
  cursor: pointer;
  position: relative;
  overflow: hidden;

}

.contact-us-container img {
  width: 32vw;
  height: 450px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
  filter: brightness(80%);
}

.contact-us-container img:hover {
  transform: scale(1.1);
}

.contact-us-div h3 {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #f2f2f2;
}

.contact-us-div p {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #f2f2f2;
}


/* reach----------------------- */
/* Our Reach */
#our-reach {
  height: 92vh;
  background-color: rgb(12, 114, 113);

}

.reach-container {
  display: flex;
  transform: translateX(5%);
}

.reach-circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid black;
  left: 270px;
  top: 153px;
  position: relative;

}

.reach-circle-logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 149px;
  left: -112px;
  position: relative;
}

.reach-circle-logo img {
  max-width: 90%;

}

.reach-circle2 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 1px solid black;
  position: relative;
  top: 145px;
  left: 457px;
}

.reach-circle-left-img {
  width: 90%;
  object-fit: cover;
  padding-top: 41px;
  padding-left: 30px;
  transform: scale(1.1);
}

.reach-circle-right-img {
  width: 90%;
  object-fit: cover;
  padding-top: 90px;
  padding-left: 30px;
  transform: scale(1.1);
}

.reach-circle a {
  height: 40px;
  width: 40px;
  background-color: rgb(18, 57, 89);
  border-radius: 50%;
  position: absolute;
  color: #f2f2f2;
  text-align: center;
  animation: glowing 1000ms infinite;
}

@keyframes glowing {
  0% {
    background-color: rgb(18, 57, 89);
    box-shadow: 0 0 3px rgb(18, 57, 89);
  }

  50% {
    background-color: rgb(40, 100, 148);
    box-shadow: 0 0 20px rgb(40, 100, 148);
  }

  100% {
    background-color: rgb(18, 57, 89);
    box-shadow: 0 0 3px rgb(18, 57, 89);
  }
}

.reach-circle a:hover {
  background-color: white;
  color: rgb(18, 57, 89);
}

.reach-logos img {
  width: 60%;
  margin-top: 15%;
}

.reach-logo-1 {
  left: 2px;
  top: 135px;
  transform: translateX(-50%);
}

.reach-logo-2 {
  left: 21px;
  top: 69px;
  transform: translateX(-50%);
}

.reach-logo-3 {
  left: 47px;
  top: 13px;
}

.reach-logo-4 {
  left: 114px;
  top: -17px;
}

.reach-logo-5 {
  left: 188px;
  top: -16px;
}

.reach-logo-6 {
  left: -13px;
  top: 206px;
}

.reach-logo-7 {
  left: 26px;
  top: 271px;
}

.reach-logo-8 {
  left: 90px;
  top: 314px;
}

.reach-logo-9 {
  left: 172px;
  top: 325px;
}

.reach-logo-10 {
  left: 246px;
  top: 300px;
}