@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --blue: rgb(0, 176, 240);
  }
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}
.color-blue{
    color: var(--blue);
}
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(52, 58, 64);
}
nav img{
    height: 100%;
}
.s1-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 600px;
}
.s1-left h2{
    color: var(--blue);
}
.s1-left{
    width: 60%;
    margin: auto;
}
.s1-right{
    width: 70%;
    margin: auto;
}
.section-2{
}
.s2-top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 20px;
    padding-left: 80px;
    margin-bottom: 70px;
}
.s2-top-card{
    width: 280px;
}
.s2-gif-container{
    width: 85vw;
    margin: auto;
}
.s2-gif-container img{
    width: 100%;
}
.section-3{
    padding-top: 100px;
}
.s3-top-left{
    position: relative;

}
.s3-top-left img:nth-child(1){
    position: relative;
}
.s3-top-left img:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
}

.s3-top-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.s3-top-right{
    width: 90%;
}
ol{
    padding-left: 15px;
}