.page4{
    width: 100%;
    padding-bottom: 50px;
}
.img-container{
    width: 90%;
    margin: auto;
}
.page4 img{
    width: 100%;
}
.trusted-brands-container{
    margin-top: 100px;
    height: 250px;
    width: 100vw;
}
.trusted-brands-container h1{
    font-size: 40px;
    text-align: center;
}
.trusted-brands-container span{
    color: rgb(3, 162, 229);
}
.swiper2 {
    width: 100%;
    height: 80%;
  }
  .swiper2 .swiper-slide {
    text-align: center;
    width: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* for Trusted By Brands */

 .swiper-slide img{
  
    width: 120px;
  }
/* .......Ad Galllary */
.ad-gallery {
  height: auto;
  width: 100vw;
  background-color: rgb(0, 161, 229);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ad-gallery h1 {
  padding: 30px 0;
}

.ad-gallery-container {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  margin-bottom: 50px;
}

.gallery-card-container {
  height: 170px;
  width: 270px;
  overflow: hidden;
}

.gallery-card {
  transition: all 500ms ease;
}

.gallery-card p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: lighter;
  font-size: small;
  padding-left: 10px;
  height: 35px;
  background-color: white;
  color: black;
  transform: translateY(-7px);
}

.gallery-card-container:hover .gallery-card {
  transform: translateY(-34px);
}

.gallery-card img {
  height: 172px;
  width: 270px;
  object-fit: fill;
}


  body{
    overflow-x: hidden;
  }