@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    position: relative !important;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}

/*Text Selection Color*/

::selection {
    background: #39007d;
    color: #fff;
}

::-moz-selection {
    background: #39007d;
    color: #fff;
}

/*Focus Outline Color*/

*:focus-visible {
    outline: 3px solid #39007d;
}

/*Change default lightbox overlay color*/

.w-lightbox-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Reset apple form styles*/

input,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background-image: none;
}

/*Navbar styles*/

@media screen and (min-width: 992px) {
    .nav-link.btn::after {
        display: none;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        width: calc(100% - 32px);
        bottom: 10px;
        left: 16px;
        right: 16px;
        height: 4px;
        background-color: #39007d;
        transform: scaleX(0);
        transition: all 0.25s;
    }

    .nav-link:hover::after,
    .nav-link.w--open::after {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 991px) {
    .nav-btn.w-nav-button.w--open {
        background-color: #fff;
    }
}

/*Style <sup> all elements*/

sup {
    position: relative;
    top: -0.5em;
    font-size: 60%;
}

/*Date picker modifications*/

.w-input[disabled],
.w-input[readonly],
.w-select[disabled],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
    background-color: #fff;
}

.flatpickr-day.selected {
    background-color: #39007d !important;
    border-color: #39007d !important;
}

/*Word wrap fix */

.break-word {
    word-wrap: break-word;
}

/*Blockquote Styles */

blockquote:before {
    content: "\201C";
    font-family: "Yahoo Sans", sans-serif;
    font-weight: 900;
    font-size: 4em;
    font-style: normal;
    line-height: 0;
    vertical-align: -.40em;
    margin-right: -.15em;
    opacity: .15;
    color: #39007d;
    z-index: -1;
    position: relative;
}

blockquote::after {
    content: "\201D";
    font-family: "Yahoo Sans", sans-serif;
}

.text-center blockquote,
blockquote.text-center {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/*Arrow animation styles*/

.arrow-animation:after {
    display: inline-block;
    width: auto;
    font-family: Fujicons, sans-serif;
    content: "\e924";
    margin-left: 7px;
    transform: translate(0);
    transition: all .5s;
    vertical-align: bottom;
}

.arrow-animation:hover::after,
.arrow-animation:focus::after {
    transform: translate(10px);
}

/*Collection Content Styles*/

.w-richtext figure.w-richtext-figure-type-image>div,
.w-richtext figure[data-rt-type=image]>div,
.w-richtext-figure-type-video>div {
    display: block !important;
}

.w-richtext-figure-type-video>div>iframe {
    border-radius: 8px;
    box-shadow: 4px 4px 20px 0 rgb(0 0 0 / 20%);
}

/*Video Embed Styles*/

.video-embed iframe {
    border-radius: 8px;
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wistia iframe {
    border-radius: 8px;
}

.responsive-iframe {
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.responsive-iframe.my-0 {
    margin: 0;
}

.responsive-iframe iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*Slider Controls Styles*/

.w-slider-nav {
    pointer-events: none;
}

.w-slider-nav>div {
    position: relative;
    pointer-events: auto;
}

.w-slider-nav-invert>div {
    background: #e0e4e9;
}

.w-slider-nav-invert>div.w-active {
    background: #39007d;
}

/*Grid with Border & Card Styles */

.border-box,
.card.card-h-100 {
    height: calc(100% - 10px) !important;
}

/* Pointer Events Fix */

.pointer-events-none {
    pointer-events: none !important;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
.flex-container > div {
   
    box-sizing: border-box;
    border: 2px solid #e0e4e9;
    border-radius: 8px;
    margin: 35px;
    padding: 20px;
    font-size: 30px;
    color: #733195;
}
.pra{
    color: black;
}
.bdmarket{
    border: 0;
    margin-top: 15px;
    margin: auto;
    position: relative;
    height: 100px;
    padding: 0;
    max-width: 900px;
    height: 500px;
}
.bdmarket2{
    height: auto;
    width: 70vw;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.ad{
    margin-left: 20px;
    color: #6001D2;

}
.dis{
    
    margin-left: 370px;
}
.vads{
    
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    height: 100vh;
    width: 80%;
    margin-left: 250px;
}
.ad-gallery {
    all: unset;
    height: 95vh;
    width: 100vw;
    background-color: rgb(0, 161, 229);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ad-gallery h1 {
    padding: 30px 0;
}

.ad-gallery-container {
    display: grid;
    grid-template-columns: 270px 270px 270px;
}

.gallery-card-container {
    height: 170px;
    width: 270px;
    overflow: hidden;
}

.gallery-card {
    transition: all 500ms ease;
}

.gallery-card p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: lighter;
    font-size: small;
    padding-left: 10px;
    height: 35px;
    background-color: white;
    color: black;
}

.gallery-card-container:hover .gallery-card {
    transform: translateY(-34px);
}

.gallery-card img {
    height: 172px;
    width: 270px;
    object-fit: fill;
}

/* ad container------------------------------------ */
.ad-opportunity{
    height: 2100px;
}
.native-ad-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}
.native-ad-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20%;
}
.ad-opportunity h3{
    font-weight: 900;
    margin-bottom: 20px;
}
.ad-opportunity h3::before{
    content: "";
    width: 15px;
    height: 35px;
    display: inline-block;
    background-color: rgb(126, 31, 255);
    margin-right: 10px;
    transform: translateY(7.5px);
}
.swiper {
    width: 600px;
    height: 500px;
    text-align: center;
  }
  .swiper-slide img{
    height: 90%;
  }
  .display-ad-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    background-color: rgb(245, 248, 250);
    margin-bottom: 15px;
  }
  .display-ad-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .audio-ad-left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper .swiper-pagination>.swiper-pagination-bullet {
    opacity: 1;
    border: rgb(126, 31, 255) solid 1px;
    background-color: transparent;
  }
  
  .swiper .swiper-pagination>.swiper-pagination-bullet-active {
    background-color: rgb(126, 31, 255);
  }
  body{
    width: 100vw;
    border: none !important;
    overflow-x: hidden;
  }
  .trusted-brands-container{
    margin-top: 100px;
    height: 250px;
    width: 100vw;
}
.trusted-brands-container h1{
    font-size: 40px;
    text-align: center;
}
.trusted-brands-container span{
    color: rgb(3, 162, 229);
}
.swiper2 {
    width: 100%;
    height: 80%;
  }
  .swiper2 .swiper-slide {
    text-align: center;
    width: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    .ad-opportunity{
        height: auto;
    }
    .flex-container{
        flex-direction: column;
    }
    .bdmarket{
        height: auto;
        width: 95vw;
        margin: auto;
        margin-bottom: 40px;
    }
    .bdmarket2 img{
        width: auto;
    }
    .bdmarket2{
        height: auto;
        width: 95vw;
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .native-ad-container{
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px 0 20px 0;
    }
    .display-ad-container{
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px 0 20px 0;
        
    }
    .native-ad-left{
        padding-left: 10px;
        width: 99vw;
    }
    .display-ad-left{
        order: 2;
    }
    .display-ad-right{
        padding-left: 10px;
        width: 99vw;
        order: 1;
    }
    .swiper {
        width: 100vw;
        height: auto;
      }
    .swiper img{
        height: 50vh;
    }
    .audio-ad-left{
        order: 2;
    }
    /* adgallery mobile responsive-------------------------------------- */
  .ad-gallery {
    height: auto;
    padding-bottom: 50px;
  }
  
  .ad-gallery h1 {
    text-align: center;
  }
  
  .ad-gallery-container {
    grid-template-columns: 270px;
  }
  /* adgallery responsive end--------------------------- */
  body{
    overflow-x: hidden;
}
  }